@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700;900&display=swap');

body {
  background: #f5f5f5;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  color: #333; }

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 20px;
  display: flex; }

.header {
  height: 65px;
  width: 100%;
  background-color: #2e8b57;
  position: fixed;
  top: 0;
  z-index: 10;
}

.header-left {
  float: left;
}

.logo {
  width: 60px;
  margin: 5px 5px;
}

.header-left h1 {
  padding: 5px 5px;
  font-size: 1.3em; }

.header-left h1 a {
  text-decoration: none;
  color: rgb(255, 254, 254); }

.header-left h1 span {
  font-weight: 300; }

.header-right {
  flex-basis: 80%; }

.header-right ul {
  float: right;
  margin: 0;
  padding: 0;
  list-style: none; }

.header-right ul li {
  float: left; }

.header-right ul li a {
  display: block;
  padding: 20px;
  font-size: 18px;
  text-decoration: none;
  color: rgb(255, 254, 254);
  transition: 0.5ms;
  border-bottom: 3px solid white; }

.header-right ul li a:hover {
  background: rgb(5, 247, 206);
  color: #fff;
  border-color: #1fd4cb; }
  
  .slide{
    max-width: auto;
    height: 600px;
    position: relative;
}
.slide1, .slide2, .slide3 {
    position: absolute;
    width: 100%;
    height: 100%;
}
.slide1 {
    background: url(images/slide1.png) no-repeat center;
    background-size: cover;
    animation: fade 15s infinite;
    -webkit-animation: fade 15s infinite;
}
.slide2 {
    background: url(images/slide4.png) no-repeat center;
    background-size: cover;
    animation: fade2 15s infinite;
    -webkit-animation: fade3 15s infinite;
}

.slide3 {
    background: url(images/slide2.png) no-repeat center;
    background-size: cover;
    animation: fade3 15s infinite;
    -webkit-animation: fade3 15s infinite;
}

@keyframes fade {
    0%{opacity: 1;}
    33.33%{opacity: 1;}
    66.66%{opacity: 0;}
    100%{opacity: 1;}
    
}

@keyframes fade2 {
    {opacity: 0;}
    100%{opacity: 1;}
    66.66%{opacity: 0;}
    100%{opacity: 0;}
}

@keyframes fade3 {
    0%{opacity: 0;}
    33.33%%{opacity: 0;}
    66.66%{opacity: 1;}
    100%{opacity: 0;} 
}

.text {
  flex-basis: 50%; }

.text h2 {
  font-size: 2.5em; }

.text p {
  line-height: 25px;
  font-size: 14px;
  font-weight: 300; }

.text h4{
    color: #555555;;
  line-height: 25px;
  font-size: 16px;
  font-weight: 300; 
}
.text a {
  display: inline-block;
  background: #2e8b57;
  color: #fff;
  text-decoration: none;
  padding: 20px 40px;
  border-radius: 10px;
  font-size: 18px;
  border-bottom: 3px solid #ffff00;
  margin-top: 20px; }

.gambar {
  flex-basis: 50%; }

.gambar img {
  width: 100%; }

  

:root{
  --white-light: rgba(255, 255, 255, 0.5);
  --alice-blue: #f8f9fa;
  --carribean-green: #40c9a2;
  --gray: #ededed;
}

img{
    width: 100%;
    display: block;
}

.lg-title,
.md-title,
.sm-title{
      font-family: 'Poppins', sans-serif;
      padding: 0.6rem 0;
      text-transform: capitalize;
  }
  .lg-title{
      font-size: 2.5rem;
      font-weight: 500;
      text-align: center;
      padding: 1.3rem 0;
      opacity: 0.9;
  }
  .md-title{
      font-size: 2rem;
      font-family: 'Poppins', sans-serif;
  }
  .sm-title{
      font-weight: 300;
      font-size: 1rem;
      text-transform: uppercase;
  }
  .text-light{
      font-size: 1rem;
      font-weight: 600;
      line-height: 1.5;
      opacity: 0.5;
      margin: 0.4rem 0;
  }
  
  
  .products{
      background: var(--alice-blue);
      padding: 3.2rem 0;
  }
  .products .text-light{
      text-align: center;
      width: 70%;
      margin: 0.9rem auto;
  }
  .product{
      margin: 2rem;
      position: relative;
  }
  .product-content{
      background: var(--gray);
      padding: 3rem 0.5rem 2rem 0.5rem;
      cursor: pointer;
  }
  .product-img{
      background: var(--white-light);
      box-shadow: 0 0 20px 10px var(--white-light);
      width: 200px;
      height: 200px;
      margin: 0 auto;
      border-radius: 50%;
      
  }
  .product-btns{
      display: flex;
      justify-content: center;
      margin-top: 1.4rem;
      opacity: 0;
      transition: opacity 0.6s ease;
  }
  .btn-cart, .btn-buy{
      background: transparent;
      border: 1px solid black;
      padding: 0.8rem 0;
      width: 125px;
      text-transform: uppercase;
      cursor: pointer;
      border: none;
      transition: all 0.6s ease;
  }
  .btn-cart{
      background: black;
      color: white;
  }
  .btn-cart:hover{
      background: var(--carribean-green);
  }
  .btn-buy{
      background: white;
  }
  .btn-buy:hover{
      background: var(--carribean-green);
      color: #fff;
  }
  .product-info{
      background: white;
      padding: 2rem;
  }
  .product-info-top{
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  
  .product-name{
      color: black;
      display: block;
      text-decoration: none;
      font-size: 1rem;
      
  }
  .product-price{
      padding-top: 0.6rem;
      padding-right: 0.6rem;
      display: inline-block;
  }
  .product-price:first-of-type{
      text-decoration: line-through;
      color: var(--carribean-green);
  }
  .product-img img{
      transition: transform 0.6s ease;
  }
  .product:hover .product-img img{
      transform: scale(1.1);
  }
  .product:hover .product-img{
      background: var(--carribean-green);
  }
  .product:hover .product-btns{
      opacity: 1;
  }
  .off-info .sm-title{
      background: var(--carribean-green);
      color: white;
      display: inline-block;
      padding: 0.5rem;
      position: absolute;
      top: 0;
      left: 0;
      writing-mode: vertical-lr;
      transform: rotate(180deg);
      z-index: 1;
      letter-spacing: 3px;
      cursor: pointer;
  }
  

  @media screen and (min-width: 992px){
      .product-items{
          display: grid;
          grid-template-columns: repeat(2, 1fr);
      }
      .product-col-r-bottom{
          display: grid;
          grid-template-columns: repeat(2, 1fr);
      }
  }
  @media screen and (min-width: 1200px){
      .product-items{
          grid-template-columns: repeat(3, 1fr);
      }
      .product{
          margin-right: 1rem;
          margin-left: 1rem;
      }
      .products .text-light{
          width: 50%;
      }
  }
  
  @media screen and (min-width: 1336px){
      .product-items{
          grid-template-columns: repeat(4, 1fr);
      }
      .product-collection-wrapper{
          display: grid;
          grid-template-columns: repeat(2, 1fr);
      }
      .flex{
          height: 60vh;
      }
      .product-col-left{
          height: 121.5vh;
      }
  }
/*-------------------------------------Testimonial-------------------------------------------*/
.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.card {
    display: flex;
    flex-wrap: wrap;
    gap: 25px 40px;
    justify-content: center;
    padding: 45px 45px 90px;
}
.testimoni {
    background-color: #2e8b57;
    border-radius: 5px;
    padding: 40px 25px 25px;
    flex-grow: 1;
    flex-basis: 280px;
    max-width: 360px;
    position: relative;
}
.testimoni-text{
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 30px;
    margin-top: 0px;
}
.testimoni-img{
    display: inline-block;
    width: 40px;
    margin: 0 10px 20px 0px;
}
.testimoni-img img{
    max-width: 100%;
    vertical-align: bottom;
    border-radius: 50%;
}
.testimoni-info{
    display: inline-block;
}
.testimoni-name{
    font-weight: bold;
    font-size: 0.625rem;
    line-height: 12px;
    letter-spacing: 0.5px;
    margin-bottom: 5px; 
}
.testimoni-job{
    color: white;
    font-weight: normal;
    font-size: 10px;
    line-height: 10px;
    letter-spacing: 0.5px;
}
p {
    color: white;
}
h3{
    color:white;
    font-size: 18px;
    line-height: 1.3;
    margin:  0 10px 25px 0px;
}
h4{
    color:white;
    font-size: 18px;
    line-height: 1.3;
    margin:  0px 0px 10px 0px;
}
/*--------------------Keunggulan-----------------*/
.keunggulan {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 20px;
    display: flex;
}
.keunggulan h2{
    font-size: 30px;
}
.keunggulan h3{
    font-size: 18px;
    color: #555555;
}
/*------------------------------------Footer-----------------------------------*/
.footer {
    background-color: #2e8b57;
    color:#fff ;
    height: 200px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .footer-logo {
   font-size: 32px;
   float: left;
  }
  .footer-list {
    float:left;
    
  }
  .footer-list li {
  padding-bottom: 40px;
  }
  .footer-listt {
    float:right;
    
  }
  .footer-listt li {
  padding-bottom: 40px;
  }
